.banner {
	background: linear-gradient(
			to bottom,
			rgba(239, 239, 239, 0) 0%,
			rgba(10, 10, 10, 1) 90%
		),
		url(../img/banner_img.jpg) no-repeat center;
	background-size: cover;
	height: 60vh;
	padding: 0 25px;
}

.banner__content {
	height: inherit;
	display: flex;
	flex-flow: column nowrap;
	/* padding: 120px 0; */
	justify-content: center;
	max-width: 500px;
	color: aliceblue;
}

.banner__content > div {
	margin: 5px 0;
}

.banner__title {
	font-size: 2em;
	font-weight: 700;
}

.banner__button_container {
	display: flex;
	width: 210px;
	justify-content: space-between;
}

.banner__button {
	padding: 6px 20px;
	background-color: #0f0f0f;
	opacity: 0.8;
	font-family: Open Sans, sans-serif;
	border-radius: 5px;
}
