.header {
	width: 100vw;
    position: fixed;
	background: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
    transition: background-color 200ms ease;
}

.header__logo_text {
	height: 50px;
}

.header__logo {
	height: 30px;
    margin-right: 20px;
}
