.row__title {
    margin: 10px 0;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 0 10px;
}

.row__poster_container {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    /* overflow: hidden; */
    overflow-x: scroll;
}

.row__poster_container::-webkit-scrollbar {
    display: none;
}

.row__poster, .row__poster_large {
    margin: 0 10px;
    border-radius: 5px;
    transition: transform 300ms;
}

.row__poster {
    width: 250px;
}

.row__poster_large {
    height: 300px;
}

.row__poster:hover, .row__poster_large:hover {
    transform: scale(1.07);
}